* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*****   GENERAL DOM ELEMENTS   *****/

img {
  width: 100%;
  height: 100%;
}

.image {
  height: 90%;
  background-position: center;
}

svg {
  width: 100%;
  height: 100%;
  position: relative;
  top: -20;
}

.section-one {
  margin-top: 70px;
}

.list ul {
  list-style-type: none;
}

.list li {
  margin: 0;
  padding: 3vw 0 3vw 6vw;
  list-style: none;
  background-image: url(img/coffee-stain-list-item.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 5vw;
}

/* .container .banner{

} */

/*****   GRID   *****/

.grid {
  display: grid;
}

.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-almost-two {
  grid-template-columns: 3fr 2.5fr;
}

.grid-two-thirds {
  grid-template-columns: 4fr 2fr;
}

.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four {
  grid-template-columns: repeat(4, 1fr);
}
.grid-five {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  height: 10vw;
}

.masonry {
  column-count: 4;
}

.masonry .image-container {
  align-items: center;
}

/***** POSITIONING *****/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.margin-auto {
  margin: 0 auto;
}

/*****   ALIGNMENT    *****/

.align-self-top {
  align-self: start;
}

.align-self-bottom {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

/*****   MARGINS & PADDINGS    *****/

.p-small {
  padding: 1vw;
}
.ph-small {
  padding-left: 1vw;
  padding-right: 1vw;
}
.pv-small {
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.pb-small {
  padding-bottom: 1vw;
}
.pt-small {
  padding-top: 1vw;
}

.p-medium {
  padding: 4vw;
}
.ph-medium {
  padding-left: 4vw;
  padding-right: 4vw;
}
.pv-medium {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.pb-medium {
  padding-bottom: 4vw;
}
.pt-medium {
  padding-top: 4vw;
}

.p-large {
  padding: 8vw;
}
.ph-large {
  padding-left: 8vw;
  padding-right: 8vw;
}
.pv-large {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
.pb-large {
  padding-bottom: 8vw;
}
.pt-large {
  padding-top: 8vw;
}

.p-xlarge {
  padding: 12vw;
}
.ph-xlarge {
  padding-left: 12vw;
  padding-right: 12vw;
}
.pv-xlarge {
  padding-top: 12vw;
  padding-bottom: 12vw;
}
.pb-xlarge {
  padding-bottom: 12vw;
}
.pt-xlarge {
  padding-top: 12vw;
}

.m-small {
  margin: 1vw;
}
.mh-small {
  margin-left: 1vw;
  margin-right: 1vw;
}
.mv-small {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.mb-small {
  margin-bottom: 1vw;
}
.mt-small {
  margin-top: 1vw;
}

.m-medium {
  margin: 4vw;
}
.mh-medium {
  margin-left: 4vw;
  margin-right: 4vw;
}
.mv-medium {
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.mb-medium {
  margin-bottom: 4vw;
}
.mt-medium {
  margin-top: 4vw;
}

.m-large {
  margin: 8vw;
}
.mh-large {
  margin-left: 8vw;
  margin-right: 8vw;
}
.mv-large {
  margin-top: 8vw;
  margin-bottom: 8vw;
}
.mb-large {
  margin-bottom: 8vw;
}
.mt-large {
  margin-top: 8vw;
}

.m-xlarge {
  margin: 12vw;
}
.mh-xlarge {
  margin-left: 12vw;
  margin-right: 12vw;
}
.mv-xlarge {
  margin-top: 12vw;
  margin-bottom: 12vw;
}
.mb-xlarge {
  margin-bottom: 12vw;
}
.mt-xlarge {
  margin-top: 12vw;
}

/*****   FONTS & HEADERS    *****/

h1,
h2,
h5,
a,
.step-no .no {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  /* color: black; */
  text-transform: uppercase;
  text-align: center;
}

h1 {
  text-align: inherit;
}

h2,
h5,
.step-no .no {
  padding-bottom: 2vw;
}

h3 {
  text-transform: inherit;
}

h3,
h4,
button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2vw;
}

h5 {
  padding-bottom: 0.5vw;
}

p {
  font-size: calc(0.8em + 10%);
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  color: black;
}

.color-white {
  color: #fff;
}

.color-black {
  color: black;
}

.color-orange {
  color: #fb8b23;
}

/*****   BACKGROUND CLASSES    *****/

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-white {
  background-color: #fff;
}

.bg-light-brown {
  background-color: #d8b69c;
}

.bg-medium-light-brown {
  background-color: #815946;
}

.bg-brown {
  background-color: #483c32;
}

.bg-dark-brown {
  background-color: #2b231d;
}

.bg-orange {
  background-color: #fb8b23;
}

/*****   MENU    *****/
header {
  background: rgba(255, 255, 255, 0.95);
  max-width: 100vw;
  width: 100%;
  position: fixed;
  z-index: 80;
  top: 0;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
}

a {
  text-decoration: none;
}

.deskmenu {
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.deskmenu a.active {
  color: #fb8b23;
}

.deskmenu a,
.hiddenMenu a {
  font-weight: 900;
  transition: 0.2s ease-in-out;
}

.deskmenu a:hover,
.hiddenMenu a:hover {
  color: #fb8b23;
}

.logo {
  background-image: url(img/the-proper-pour-logo.svg);
  color: transparent;
  height: 45%;
}

.logo h1 {
  color: transparent;
}

.menu-icon {
  color: transparent;
  height: 100%;
  background-position: center;
  padding: 0.2vw;
  width: 2vw;
  height: 2vw;
}

a.cart:hover,
a.profile:hover {
  color: transparent;
}

a svg path {
  transition: 0.2s ease-in-out;
}

a svg:hover path {
  stroke: #fb8b23;
}

/* .cart svg{
    width: 3vw;
    height: 3vw;
} */

/*****  MENU ENDS  *****/

/*****  FOOTER  *****/

footer {
  padding-top: 3vw;
}

footer .logo {
  height: 30%;
}

footer h5 {
  text-align: left;
}

footer .icon {
  height: 2vw;
  width: 2vw;
}

/* ADD FOOTER SOME ICONS HERE */
/* footer .icon.fb{}
footer .icon.instagram{} */

footer svg {
  fill: #fff;
  width: 80%;
  height: 80%;
}

/*****  BUTTONS & LINKS  *****/

a {
  color: black;
}

.button {
  display: grid;
  padding: 1vw;
  font-size: calc(0.8em + 10%);
  font-weight: 300;
  color: #fff;
  background-color: #fb8b23;
  text-transform: uppercase;
  border: none;
  width: 15vw;
  height: 4vw;
  align-content: center;
}

/***** FRONTPAGE *****/

.frontpage .section-one .masonry .image-container .img1 {
  background-image: url(img/coffee-beans-heart-good-coffee-is-good-for-the-health.png);
}
.frontpage .section-one .masonry .image-container .img2 {
  background-image: url(img/coffee-bean-sprout.png);
}
.frontpage .section-one .masonry .image-container .img3 {
  background-image: url(img/hand-holding-caffe-latte.png);
  align-self: end;
}
.frontpage .section-one .masonry .image-container .img4 {
  background-image: url(img/greater-goods-kickstart-coffeebag.png);
  transform: rotate(10deg);
}

.frontpage .section-one .logo {
  height: 75%;
}

.frontpage .section-two .image {
  background-image: url(img/what-you-get.png);
  height: 100%;
}

.list h5 {
  text-align: left;
}

.frontpage .section-three .step {
  height: 30vw;
}

.step-no .no {
  color: #fff;
  font-size: calc(6vw + 10%);
  left: 4vw;
}

.step-no h4 {
  transform: rotate(-90deg);
  padding: 0;
  top: 5vw;
  left: 1vw;
}

.step .image {
  height: 55%;
  margin: 5vw 0 3vw 0;
}

.step .description {
  margin: 0 5vw;
}

.step.one .image {
  background-image: url(img/products.png);
}
.step.two .image {
  background-image: url(img/mockup-properpour.png);
  margin: 4vw 0 4vw 0;
}
.step.three .image {
  background-image: url(img/caffe-latte-with-saucer.png);
  background-position: 55%;
}

.section-four .image {
  background-image: url(img/coffee-cup-splashing.png);
  height: 135%;
  top: -3vw;
}

.section-five .masonry {
  overflow: hidden;
}

.section-five .masonry .item {
  min-height: 20vw;
  max-width: 100%;
}
.section-five .masonry .item .image {
  min-height: 17vw;
}
.section-five .masonry .item h5 {
  top: -0.5vw;
}

.section-five .masonry .item.one {
  grid-column: 1/3;
}
.section-five .masonry .item.two {
  grid-column: 3/4;
  grid-row: 1/3;
}
.section-five .masonry .item.six {
  height: 20vw;
  overflow: hidden;
}

.section-five .masonry .item.two .image {
  height: 35vw;
}
.section-five .masonry .item.four .image {
  left: -5vw;
}
.section-five .masonry .item.six .image {
  height: 35vw;
}

.section-five .masonry .item.two h5 {
  top: 1.5vw;
}
.section-five .masonry .item.six h5 {
  top: -18.5vw;
}

.section-five .masonry .item.one .image {
  background-image: url(img/moccamaster-coffeemaker.png);
}
.section-five .masonry .item.two .image {
  background-image: url(img/cold-brew-with-milk-in-jar.png);
}
.section-five .masonry .item.three .image {
  background-image: url(img/cinnamon-nutmeg-staranis-cloves-spices.png);
}
.section-five .masonry .item.four .image {
  background-image: url(img/hand-holding-caffe-latte.png);
  transform: rotate(90deg);
}
.section-five .masonry .item.five .image {
  background-image: url(img/bialetti-espresso-moka-pot-coffee-maker.png);
}
.section-five .masonry .item.six .image {
  background-image: url(img/coffee-plant-in-soil.png);
}

/***** SHOP PAGE *****/

.shop .section-one .image {
  background-image: url(img/coffee-cup-splashing.png);
  height: 330%;
  top: -13vw;
  z-index: 81;
  transform: rotate(45deg);
}

/***** SUBSCRIBE PAGE *****/

.subscriptionItem {
  width: 400px;
  height: 200px;
  position: relative;
}

.coffeeItemimg1 {
  background-image: url(img/coffe1.png);
}

.coffeeItemimg2 {
  background-image: url(img/coffe2.png);
}

.coffeeItemimg3 {
  background-image: url(img/coffe3.png);
}

.coffeeItemimg4 {
  background-image: url(img/coffe4.png);
}

.coffeeItemimg5 {
  background-image: url(img/coffe5.png);
}

.coffeeItemimg6 {
  background-image: url(img/coffe6.png);
}

.itemSize {
  width: 400px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: black solid 1px;
}

.containerForSubscriptions {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0 10em 0 10em;
  grid-gap: 10px;
}

.selectedItem {
  border: red solid 3px;
}

.testContainer {
  width: 90vw;
  height: 70vh;
  text-align: center;
  background-color: grey;
}

.testContent {
  width: 80%;
  height: 90%;
}

.testButtons {
  height: 10%;
}

#nextBtn {
  float: right;
}

.intro {
  width: 92%;
  height: 72%;

  background-color: green;
  position: absolute;
}

.testContainer .btnRadio:hover {
  background-color: #969494;
}

/* .testContainer .btnRadioInline:hover,
.testContainer .btnRadioForBig:hover,
.testContainer .btnRadioInlineComp:hover {
  background-color: #969494;
} */

.testContainer input {
  -webkit-appearance: none;
}

.btnRadio {
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  padding: 1em;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  cursor: pointer;
  height: 5em;
  width: 15em;
  background-color: #0c0522;
  border: 1px solid #545454;
  /* -webkit-box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7);
  -moz-box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7);
  box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7); */
}

#backBtn {
  float: left;
}

.addGrid {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.imgSize {
  width: 5em;
  /* height: 10em; */
  position: absolute;
  top: 40%;
  transform: translateY(-20%);
  /* transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  /* left: 0; */
  right: 0;
}

.gridWith3columns {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.gridWith2columns {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

input:checked + .btnRadio {
  background-color: #6c9972;
  color: #f7f7f7;
}

.textBtns .btnRadio {
  display: block;
  height: 7em;
  width: 23em;
}
.testResults {
  width: 300px;
  height: 400px;
}

.imgResults {
  width: 300px;
  height: 300px;
}

.descSubscription {
  margin-right: 10em;
}

#paymentMain {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.loginWelcome {
  text-align: center;
  padding-top: 10%;

  /* color: #06a4b7; */
}

.containerSignup {
  width: 100%;
  height: 79%;
}

#signupForm {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  /* width: 100%; */
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 10px 10px 10px 30px;
  background: #eee;
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg); */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
input[type="text"]:valid + label,
input[type="email"]:valid + label,
input[type="password"]:valid + label {
  opacity: 0;
}
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown) ~ .errorMessage,
input[type="email"]:invalid:not(:focus):not(:placeholder-shown) ~ .errorMessage,
input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  ~ .errorMessage {
  max-height: 200px;
  padding: 3px 10px 10px 30px;
}

form .errorMessage {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  color: red;
  font-style: italic;
  font-size: 80%;
}

input.error {
  background-color: rgba(198, 38, 65, 0.1);
}
