/*****   FONTS    *****/

h1, h3, h5{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

h2, h4{
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

body{
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

/*****   MENU    *****/
header {
    background:rgba(250,250,250, .9);
    max-width: 100vw;
    width: 100%;
    position: fixed;
    z-index: 80;
    top: 0;
    text-align: right;
    display: grid;
    grid-template-columns: .2fr .5fr 3.5fr;
    height:70px;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
  }
  
  .deskmenu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.2em;
    text-align: center;
   }
   a{
      color:#d09cab;
      text-decoration: none;
    }
    .deskmenu a{
      text-align: center;
    }
   .deskmenu a, .hiddenMenu a{
       color:#d09cab;
       font-weight: bold;
   }
  .imgLogo{
    width:80%;
    opacity: .7;
    cursor: pointer;
  }
  .logo{
    cursor: pointer;
     text-align: left;
     font-weight: bold;
     font-size: 1.1em;
   }
   
    
  /*****   MENU ENDS  *****/
.subscriptionItem {
  width: 200px;
  height: 400px;
  position: relative;
}

.coffeeItemimg1 {
  background-image: url(img/coffe1.png);
}

.coffeeItemimg2 {
  background-image: url(img/coffe2.png);
}

.coffeeItemimg3 {
  background-image: url(img/coffe3.png);
}

.coffeeItemimg4 {
  background-image: url(img/coffe4.png);
}

.coffeeItemimg5 {
  background-image: url(img/coffe5.png);
}

.coffeeItemimg6 {
  background-image: url(img/coffe6.png);
}

.itemSize {
  width: 200px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: black solid 1px;
}

.containerForSubscriptions {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0 10em 0 10em;
  grid-gap: 10px;
}

.selectedItem {
  border: red solid 3px;
}

.testContainer {
  width: 90vw;
  height: 70vh;
  background-color: grey;
}

.testContent {
  width: 100%;
  height: 90%;
}

#nextBtn {
  float: right;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: green;
}

.wrapper .btnRadio:hover {
  background-color: #969494;
}

.wrapper .btnRadioInline:hover,
.wrapper .btnRadioForBig:hover,
.wrapper .btnRadioInlineComp:hover {
  background-color: #969494;
}

.btnRadio {
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  padding: 1em;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  cursor: pointer;
  height: 5em;
  width: 20em;
  background-color: #0c0522;
  border: 1px solid #545454;
  /* -webkit-box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7);
  -moz-box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7);
  box-shadow: 5px 2px 10px 3px rgba(176, 168, 132, 0.7); */
}
